<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Generator</title>
</head>

<body>
    <a href="{{url_for('logout')}}">Press here to logout</a>
    <h1>Welcome to the Cocktail Generator!</h1>
    <h2>Please select the Ingredients you have available</h2>
    <form action="/templates/results.html">
        <label>
          <span>Alcohol</span>
          <br>
          <br>
        </label>
        <label>Brandy
            <input type="checkbox"
            name="checkbox" value="1">
            <br>
        </label>
        <label>Gin
            <input type="checkbox"
            name="checkbox" value="2">
            <br>
        </label>
        <label>Rum
            <input type="checkbox"
            name="checkbox" value="3">
            <br>
        </label>
        <label>Tequila
            <input type="checkbox"
            name="checkbox" value="4">
            <br>
        </label>
        <label>Vodka
            <input type="checkbox"
            name="checkbox" value="5">
            <br>
        </label>
        <label>Whiskey
            <input type="checkbox"
            name="checkbox" value="6">
            <br>
        </label>
        <label>Almond Liqueur
            <input type="checkbox"
            name="checkbox" value="7">
            <br>
        </label>
        <label>Cherry Liqueur
            <input type="checkbox"
            name="checkbox" value="8">
            <br>
        </label>
        <label>Chocolate Liqueur
            <input type="checkbox"
            name="checkbox" value="9">
            <br>
        </label>
        <label>Coffee Liqueur
            <input type="checkbox"
            name="checkbox" value="10">
            <br>
        </label>
        <label>Coconut Liqueur
            <input type="checkbox"
            name="checkbox" value="11">
            <br>
        </label>
        <label>Irish Cream Liqueur
            <input type="checkbox"
            name="checkbox" value="12">
            <br>
        </label>
        <label>Herbal Liqueur
            <input type="checkbox"
            name="checkbox" value="13">
            <br>
        </label>
        <label>Mint Liqueur
            <input type="checkbox"
            name="checkbox" value="14">
            <br>
        </label>
        <label>Melon Liqueur
            <input type="checkbox"
            name="checkbox" value="15">
            <br>
        </label>
        <label>Orange Liqueur
            <input type="checkbox"
            name="checkbox" value="16">
            <br>
        </label>
        <label>Peach Liqueur
            <input type="checkbox"
            name="checkbox" value="17">
            <br>
        </label>
        <label>Raspberry Liqueur
            <input type="checkbox"
            name="checkbox" value="18">
            <br>
        </label>
        <label>Sloe Liqueur
            <input type="checkbox"
            name="checkbox" value="19">
            <br>
        </label>
        <label> Southern Liqueur
            <input type="checkbox"
            name="checkbox" value="20">
            <br>
        </label>
        <label>Bitters
            <input type="checkbox"
            name="checkbox" value="21">
            <br>
        </label>
        <label>Champagne
            <input type="checkbox"
            name="checkbox" value="22">
            <br>
        </label>
        <label>Dry Vermouth
            <input type="checkbox"
            name="checkbox" value="23">
            <br>
        </label>
        <label>Sweet Vermouth
            <input type="checkbox"
            name="checkbox" value="24">
            <br>
        </label>
        <span>Mixers
            <input type="checkbox">
            <br>
            <br>
        </span>
        <label>Cola
            <input type="checkbox"
            name="checkbox" value="25">
            <br>
        </label>
        <label>Ginger Ale
            <input type="checkbox"
            name="checkbox" value="26">
            <br>
        </label>
        <label>Ginger Beer
            <input type="checkbox"
            name="checkbox" value="27">
            <br>
        </label>
        <label>Lemon Lime
            <input type="checkbox"
            name="checkbox" value="28">
            <br>
        </label>
        <label>Soda Water
            <input type="checkbox"
            name="checkbox" value="29">
            <br>
        </label>
        <label>Tonic Water
            <input type="checkbox"
            name="checkbox" value="30">
            <br>
        </label>
        <label>Cranberry Juice
            <input type="checkbox"
            name="checkbox" value="31">
            <br>
        </label>
        <label>Grapefruit Juice
            <input type="checkbox"
            name="checkbox" value="32">
            <br>
        </label>
        <label>Lemon Juice
            <input type="checkbox"
            name="checkbox" value="33">
            <br>
        </label>
        <label>Lime Juice
            <input type="checkbox"
            name="checkbox" value="34">
            <br>
        </label>
        <label>Orange Juice
            <input type="checkbox"
            name="checkbox" value="35">
            <br>
        </label>
        <label>Pineapple Juice
            <input type="checkbox"
            name="checkbox" value="36">
            <br>
        </label>
        <label>Cream
            <input type="checkbox"
            name="checkbox" value="37">
            <br>
        </label>
        <label>Cream of Coconut
            <input type="checkbox"
            name="checkbox" value="38">
            <br>
        </label>
        <label>Grenadine
            <input type="checkbox"
            name="checkbox" value="39">
            <br>
        </label>
        <label>Mint Sprig
            <input type="checkbox"
            name="checkbox" value="40">
            <br>
        </label>
        <label>Simple Syrup
            <input type="checkbox"
            name="checkbox" value="41">
            <br>
        </label>
        
        <button type="submit">Find Your Cocktails</button>
      </form>
</body>

</html>