<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Generator</title>
</head>

<body>
    <a href="{{url_for('logout')}}">Logout</a>
    <h1>Welcome to the Cocktail Generator!</h1>
    <h2>Please select the Ingredients you have available</h2>
        <form method='POST' action="/drinkresults">
        <label>
          <span>Alcohol</span>
          <br>
          <br>
        </label>
        <label>Brandy
            <input type="checkbox"
            name="ing_checkbox" value="Brandy">
            <br>
        </label>
        <label>Gin
            <input type="checkbox"
            name="ing_checkbox" value="Gin">
            <br>
        </label>
        <label>Rum
            <input type="checkbox"
            name="ing_checkbox" value="Rum">
            <br>
        </label>
        <label>Tequila
            <input type="checkbox"
            name="ing_checkbox" value="Tequila">
            <br>
        </label>
        <label>Vodka
            <input type="checkbox"
            name="ing_checkbox" value="Vodka">
            <br>
        </label>
        <label>Whiskey
            <input type="checkbox"
            name="ing_checkbox" value="Whiskey">
            <br>
        </label>
        <label>Champagne
            <input type="checkbox"
            name="ing_checkbox" value="Champagne">
            <br>
        </label>
        <br>
        <span>Mixers
            <br>
            <br>
        </span>
        <label>Coke
            <input type="checkbox"
            name="ing_checkbox" value="Coke">
            <br>
        </label>
        <label>Ginger Ale
            <input type="checkbox"
            name="ing_checkbox" value="Ginger Ale">
            <br>
        </label>
        <label>Tonic
            <input type="checkbox"
            name="ing_checkbox" value="Soda Water">
            <br>
        </label>
        <label>Lemon Juice
            <input type="checkbox"
            name="ing_checkbox" value="Lemon">
            <br>
        </label>
        <label>Lime Juice
            <input type="checkbox"
            name="ing_checkbox" value="Lime">
            <br>
        </label>
        <label>Orange Juice
            <input type="checkbox"
            name="ing_checkbox" value="Orange">
            <br>
        </label>
        <label>Pineapple Juice
            <input type="checkbox"
            name="ing_checkbox" value="Pineapple">
            <br>
        </label>
        <label>Simple Syrup
            <input type="checkbox"
            name="ing_checkbox" value="Simple Syrup">
            <br>
        </label>
        <label>Bitters
            <input type="checkbox"
            name="ing_checkbox" value="Bitters">
            <br>
        </label>
        <br>
        <input type="submit"></input>
      </form>
</body>

</html>
